<!DOCTYPE html>

<html lang="en">


<head>

    <link rel="stylesheet" href="/css/styles.css">

    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Recipe Collection</title>

</head>


<body>
    
    <h1>Recipe Collection</h1>

    <p>I have not cooked that much in the past, my only dexpiernece is with a grill and making basic egg and pasta dishes.</p>

    <p>My favorite food is bratwurst because they are pretty easy to grill and are delicious.</p>

    <div style="text-align: center; margin-top: 20px;">
        <a href="/recipes" style="display: inline-block; padding: 10px 15px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">
            Recipes List
        </a>
    </div>


</body>
</html>
